body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

/*FILM LIST*/
.main_list {
  border:2px solid #566979;
  border-radius:5px;
  padding:10px;
  width:300px;
}

.button_description {
  margin: 20px 20px 10px 45px;
}

.button_retour {
  margin: 10px 20px 10px 45px;
}

/*FILM DETAIL*/
.main_detail {
  border:2px solid #566979;
  border-radius:5px;
  padding:10px;
  width:300px;
}

.min {
  float: right;
  overflow: hidden;
  margin-top: -25px;
  width: 120px;  
}

/*INDEX*/
#search {
  margin-bottom: 20px;
}

.button_envoyer {
  width: 60px;
}

a {
  text-decoration: none;
}

.recherche, .film {
  width: 100px;
  margin: 20px 20px 10px 25px;
}

.title {
  width: 150px;
  font-size: 30px;
}

.year {
  display: inline-block;
  margin: 10px 0px 10px 0px;
}

.realisateur, .acteur, .intrigue, .pays {
  font-size: 18px;
  padding: 10px 10px 10px 0px;
  margin: 10px 0px 10px 0px;
}

img {
  max-width: 300px;
  max-height: 445px;
}

/*REGISTER/LOGIN*/

h1 {
  color: #3b82bb;
}

form {
  border:2px solid #566979;
  border-radius:5px;
  padding:10px;
  width:280px;
}

.form-group {
  padding:10px 20px 10px 20px;
}

label {
  font-size: 15px;
  color: #2f3133;
  margin-top:10px;
  padding-bottom: 10px;
  display:block;
}

input {
  background-color: rgba(228, 224, 224, 0.774);
  color: #2f3133;
}

input:active {
  background-color: white;
}

input, button {
  padding:3px;
  border:1px solid rgb(142, 147, 153);
  border-radius: 3px;
  width:200px;
  box-shadow:1px 1px 2px #C0C0C0 inset;
}  

#remember {
  background-color:transparent;
  border:none;
  width:15px;
  height: 15px;
}

#submit, #reset {
  width:60px;
  margin-left:20px;
  margin-top: 20px;
  box-shadow:1px 1px 1px rgb(66, 64, 64);
  cursor:pointer;
}

input:focus {
  background-color:white;
}

button:focus {
  background-color:rgb(70, 69, 69);
}

button:hover {
  background-color:rgba(176, 184, 184, 0.774);
}

