extends layout.pug

block content
    .main_detail
      .title #{films.Title}
      img.min(src=films.Poster)
      .year #{films.Year}
      .realisateur Réalisateur 
      .r #{films.Director} 
      .acteur Acteurs 
      .a #{films.Actors} 
      .intrigue Intrigue 
      .i #{films.Plot} 
      .pays Pays 
      .p #{films.Country} 
      .production Production
      .pr #{films.Production}
      .website Site Web
      .w #{films.Website}
    
      button(type="button" class='recherche')
        a(href='/') Retour 
      button(type="button" class='film') 
        a(href='/films/films?search='+films.Title) Retour film