extends layout.pug

block content
   form(name="momsearch", method="get", action='/films/films')
       div.input
           label(for="search") Recherche par titre
           input(type="text" name="search" id="search")
       div.action
           input(type="submit" class="button_envoyer" value="Envoyer")
