extends layout.pug

block content
    .main.container
        h1.display Se connecter

        form(method='POST' action='/users/login')
          div.form-group
            label(for='login') Login:
            input(id='login' type='text' name='login')
          div.form-group
            label(for='password') Mot de passe:
            input(id='password' type='password' name='password')
          div.form-group
            label(for='remember') Se souvenir de moi:
            input(type="checkbox" id="remember" name="remember")
          button(id='submit' type='submit') Accès