extends layout

block content
  .main.container
        h1.display S'enregistrer

        form(method='POST' action='/users/register')
          div.form-group
            label(for='login') Login:
            input(id='login' type='text' name='login')
          div.form-group
            label(for='password') Mot de passe:
            input(id='pasword' type='password' name='password')
          div.form-group
            label(for='name') Nom:
            input(id='name' type='text' name='name')          
          div.form-group
            label(for='firstname') Prénom:
            input(id='firstname' type='text' name='firstname')
          div.form-group
            label(for='email') Email:
            input(id='email' type='email' name='email')       
          div.form-group
            label(for='zipcode') Code postal:
            input(id='zipcode' type='text' name='zipcode' pattern="[0-9]*")   
          button(id='submit' type='submit') Envoyer
          button(id='reset' type='submit') Annuler