.main_list
        .title #{Search.Title}
        .year #{Search.Year}       
        a(class='click' href='/films/film/'+Search.Title)                     
          img.className#IdName(src=Search.Poster title='cliquez pour accéder à la description')        
        button(type="button" class='button_description') 
          a(href='/films/film/'+Search.Title) Description 
        button(type="button" class='button_retour') 
          a(href='/') Retour 
        

.main_list
        .title #{films.Title}
        .year #{films.Year}       
        a(class='click' href='/films/film/'+films.Title)                     
          img.className#IdName(src=films.Poster title='cliquez pour accéder à la description')        
        button(type="button" class='button_description') 
          a(href='/films/film/'+films.Title) Description 
        button(type="button" class='button_retour') 
          a(href='/') Retour         