@font-face {
    font-family: "Bebas";
    src: url("/bebas_neue/BebasNeue-Regular.ttf");
}

body {
    font-family: "Bebas";
    background-image:url("/images/background.jpg");
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: fixed;
    background-size: cover;
}
header {
    position: -webkit-sticky;
    position: sticky;
    top:0;
    max-height: 5%;
}

.brand-logo {
    margin-left: 20px;
    font-weight: 700;
}

.red-text {
    font-size: 25px;
}

.grey-text {
    font-size: 17px;
}

img {
    width: 200px;
    height: 260px;
}

li {
    color: white;
}

article {
    padding: 60px 30px;
}
nav {
    background-color:black;
    font-size: 25px;
}
nav ul li a {
    font-size:25px;
}

.center {
    text-align: center;
    vertical-align: middle;
}

.page-footer {
    padding: 0px;
    margin-top: 100px;

}

@media only screen and (min-width: 701px) and (max-width: 1290px){
    img{
        width: 150px;
        height: 200px;
    }
}

@media only screen and (max-width: 700px){
    .container {
        display: flex;
        flex-direction: row;
    }

    img{
        width: 50px;
        height: 80px;
    }
}
