<!DOCTYPE html>
<html lang="fr">

<head>

  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>SB Admin 2 - Dashboard</title>

  <!-- Custom fonts for this template-->
  <link href="../vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">
  <link href="../https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i" rel="stylesheet">

  <!-- Custom styles for this template-->
  <link href="../css/sb-admin-2.min.css" rel="stylesheet">

</head>

<body id="page-top">

  <!-- Page Wrapper -->
  <div id="wrapper">

    <!-- Sidebar -->
    <ul class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion" id="accordionSidebar">

      <!-- Sidebar - Brand -->
      <a class="sidebar-brand d-flex align-items-center justify-content-center" href="">
        <div class="sidebar-brand-icon rotate-n-15">
         
        </div>
        <div class="sidebar-brand-text mx-3">Administration</div>
      </a>

      <!-- Divider -->
      <hr class="sidebar-divider my-0">

      <!-- Nav Item - Dashboard -->
      <li class="nav-item active">
        <a class="nav-link" href="../admin">
          <span>Tableau de Bord</span></a>
      </li>

      <!-- Divider -->
      <hr class="sidebar-divider">

      <!-- Heading -->
      <div class="sidebar-heading">
        Interface
      </div>

      <!-- Nav Item - Pages Collapse Menu -->
      <li class="nav-item">
        <a class="nav-link collapsed" href="../admin/userManage">
          <i class="fas fa-fw fa-cog"></i>
          <span>Gestion Utilisateurs</span>
        </a>
      </li>

      <!-- Nav Item - Utilities Collapse Menu -->
      <li class="nav-item">
        <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseUtilities" aria-expanded="true" aria-controls="collapseUtilities">
          <i class="fas fa-fw fa-wrench"></i>
          <span>Gestion des Films</span>
        </a>
      </li>

      <!-- Divider -->
      <hr class="sidebar-divider">

      <!-- Sidebar Toggler (Sidebar) -->
      <div class="text-center d-none d-md-inline">
        <button class="rounded-circle border-0" id="sidebarToggle"></button>
      </div>

    </ul>
    <!-- End of Sidebar -->

    <!-- Content Wrapper -->
    <div id="content-wrapper" class="d-flex flex-column">

      
        <div class="container-fluid">

          <!-- Page Heading -->
          <div class="d-sm-flex align-items-center justify-content-between mb-4">
            <h1 class="h3 mb-0 text-gray-800">Ma Gestion de films</h1>
            <a href="#" class="d-none d-sm-inline-block btn btn-sm btn-primary shadow-sm"><i class="fas fa-download fa-sm text-white-50"></i> Generate Report</a>
          </div>

          
          <form method="GET" action="./filmManage">
            <div class="form-group">CHAMP DE RECHERCHE DE FILM</label>
              <input type="text" class="form"  aria-describedby="emailHelp" placeholder="" name="search" id ="search" >

              <input type="submit" class="btn btn-secondary btn-sm" id="submit" aria-describedby="emailHelp" placeholder="ajouter">


          </form>

<br>
<br>
                    
            <table class="table">
              <thead class="thead-dark">
                <tr>
                  <th scope="col">id</th>
                  <th scope="col">Titre</th>
                  <th scope="col">Année</th>
                  <th scope="col">Réalisateur</th>
                  
                  <th scope="col">Sauvegarder</th>
                </tr>
              </thead>
              <tbody>
                  <th id="20" scope="row">
                      {% for film in films %}
                      {% if loop.first %}{% endif %}
                      <tr> 
                          <td>{{ film.imdbID }}</td>
                          <td>{{ film.Title }}</td>          
                          <td>{{ film.Year }}</td>
                          <td>{{ film.Director }}</td>                   
                              <td>                        
                                  <form action="./filmSend" method="post">
                                    <input type="hidden" name="id" value="{{film.imdbID}}">
                                    <input type="hidden" name="title" value="{{film.Title}}">
                                    <input type="hidden" name="year" value="{{film.Year}}">
                                    <input type="hidden" name="poster" value="{{film.Poster}}">
                                    <input type="hidden" name="description" value="{{film.Plot}}">
                                    <input type="hidden" name="genre_id" value="{{film.Genre}}">
                                    <input type="hidden" name="director" value="{{film.Director}}">
                                                                                                          
                                      <input type="submit" class="btn btn-block btn-danger btn-sm" value="Sauvegarder">
            
                                  </form>
            
                                </td>
                      </tr>
                      {% if loop.last %}{% endif %}
                      {% endfor %}
                  </th>          
              </tbody>
            </table>      
      

            
  
    
    
                        







            
  <!-- Scroll to Top Button-->
  <a class="scroll-to-top rounded" href="#page-top">
    <i class="fas fa-angle-up"></i>
  </a>

  <!-- Bootstrap core JavaScript-->
  <script src="../vendor/jquery/jquery.min.js"></script>
  <script src="../vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

  <!-- Core plugin JavaScript-->
  <script src="../vendor/jquery-easing/jquery.easing.min.js"></script>

  <!-- Custom scripts for all pages-->
  <script src="../js/sb-admin-2.min.js"></script>

  <!-- Page level plugins -->
  <script src="../vendor/chart.js/Chart.min.js"></script>

  <!-- Page level custom scripts -->
  <script src="../js/demo/chart-area-demo.js"></script>
  <script src="../js/demo/chart-pie-demo.js"></script>

</body>

</html>