{% extends 'layout.html' %}

{% block title %}Admin- Dashboard{% endblock %}
{% block head %}
  {% parent %}
  <!-- Custom fonts for this template-->
  <link href="../vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">
  <link href="../https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i" rel="stylesheet">

  <!-- Custom styles for this template-->
  <link href="../css/sb-admin-2.min.css" rel="stylesheet">

{% endblock %}

{% block content %}
  <!-- Page Wrapper -->
  <div id="wrapper">

    <!-- Sidebar -->
    <ul class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion" id="accordionSidebar">

      <!-- Sidebar - Brand -->
      <a class="sidebar-brand d-flex align-items-center justify-content-center" href="index.html">
        <div class="sidebar-brand-text mx-3">Administration</div>
      </a>

      <!-- Divider -->
      <hr class="sidebar-divider my-0">

      <!-- Nav Item - Dashboard -->
      <li class="nav-item active">
        <a class="nav-link" href="../admin">
          <span>Tableau de bord</span></a>
      </li>

      <!-- Divider -->
      <hr class="sidebar-divider">

      <!-- Heading -->
      <div class="sidebar-heading">
        Interface
      </div>

      <!-- Gestionnaire -->
      <li class="nav-item">
        <a class="nav-link" href="../admin/userManage" aria-expanded="true">          
          <span>Gestion des utilisateurs</span>
        </a>
      </li>

      <!-- Nav Item - Utilities Collapse Menu -->
      <li class="nav-item">
        <a class="nav-link" href="../admin/filmManage" aria-expanded="true">
          <span>Gestion des films</span>
        </a>
      </li>

      <!-- Divider -->
      <hr class="sidebar-divider">

      <!-- Sidebar Toggler (Sidebar) -->
      <div class="text-center d-none d-md-inline">
        <button class="rounded-circle border-0" id="sidebarToggle"></button>
      </div>

    </ul>
    <!-- End of Sidebar -->

    <!-- Content Wrapper -->
   <div id="content-wrapper" class="d-flex flex-column">


    <div class="container-fluid">

      <!-- Page Heading -->
      <div class="d-sm-flex align-items-center justify-content-between mb-4">
        <h1 class="h3 mb-0 text-gray-800">Gestion des utilisateurs</h1>
        <a href="#" class="d-none d-sm-inline-block btn btn-sm btn-primary shadow-sm"><i class="fas fa-download fa-sm text-white-50"></i> Generate Report</a>
      </div>
      <button type="button" class="btn btn-secondary btn-sm">Ajouter un utilisateur</button>
      <table class="table">
        <thead class="thead-dark">
          <tr>
            <th scope="col">id</th>
            <th scope="col">Nom</th>
            <th scope="col">Prénom</th>
            <th scope="col">Email</th>
            <th scope="col">Update</th>
            <th scope="col">Effacer</th>
          </tr>
        </thead>
        <tbody>
            <th id="20" scope="row">
                {% for user in users %}
                {% if loop.first %}{% endif %}
                <tr> 
                    <td>{{ user.id }}</td>
                    <td>{{ user.name }}</td>          
                    <td>{{ user.firstname }}</td>
                    <td>{{ user.email }}</td>                   
                    <td>
                      <form action="./userDetails" method="GET">
                          <input type="hidden" name="id" value="{{user.id}}">
                          <input type="submit" class="btn btn-block btn-secondary btn-sm" value="Détails">
                      </form>
                    </td>
                    <td>
                      <form action="./userDelete" method="GET">
                          <input type="hidden" name="id" value="{{user.id}}">
                          <input type="submit" class="btn btn-block btn-danger btn-sm" value="Delete">
                      </form>
                    </td>
                </tr>
                {% if loop.last %}{% endif %}
                {% endfor %}
            </th>          
        </tbody>
      </table>      
      <!-- Content Row -->
      <div class="row">
      </div>  
    </div>
  </div>      
    <a href="#page-top" class="scroll-to-top rounded">
      <i class="fas fa-angle-up"></i>
    </a>  
  <!-- Bootstrap core JavaScript-->
  <script src="../vendor/jquery/jquery.min.js"></script>
  <script src="../vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

  <!-- Core plugin JavaScript-->
  <script src="../vendor/jquery-easing/jquery.easing.min.js"></script>

  <!-- Custom scripts for all pages-->
  <script src="../js/sb-admin-2.min.js"></script>

  <!-- Page level plugins -->
  <script src="../vendor/chart.js/Chart.min.js"></script>

  <!-- Page level custom scripts -->
  <script src="../js/demo/chart-area-demo.js"></script>
  <script src="../js/demo/chart-pie-demo.js"></script>
{% endblock %}



