{% extends 'layout.html' %}

{% block title %}Admin- Dashboard{% endblock %}
{% block head %}
  {% parent %}
  <!-- Custom fonts for this template-->
  <link href="../vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">
  <link href="../https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i" rel="stylesheet">

  <!-- Custom styles for this template-->
  <link href="../css/sb-admin-2.min.css" rel="stylesheet">

{% endblock %}

{% block content %}
  <!-- Page Wrapper -->
  <div id="wrapper">

    <!-- Sidebar -->
    <ul class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion" id="accordionSidebar">

      <!-- Sidebar - Brand -->
      <a class="sidebar-brand d-flex align-items-center justify-content-center" href="index.html">
        <div class="sidebar-brand-text mx-3">Administration</div>
      </a>

      <!-- Divider -->
      <hr class="sidebar-divider my-0">

      <!-- Nav Item - Dashboard -->
      <li class="nav-item active">
        <a class="nav-link" href="../admin">
          <span>Tableau de bord</span></a>
      </li>

      <!-- Divider -->
      <hr class="sidebar-divider">

      <!-- Heading -->
      <div class="sidebar-heading">
        Interface
      </div>

      <!-- Gestionnaire -->
      <li class="nav-item">
        <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="true" aria-controls="collapseTwo">          
          <span>Gestion des utilisateurs</span>
        </a>
      </li>

      <!-- Nav Item - Utilities Collapse Menu -->
      <li class="nav-item">
        <a class="nav-link collapsed" href="../admin/filmManage" data-toggle="collapse" data-target="#collapseUtilities" aria-expanded="true" aria-controls="collapseUtilities">
          <span>Gestion des films</span>
        </a>
      </li>

      <!-- Divider -->
      <hr class="sidebar-divider">

      <!-- Sidebar Toggler (Sidebar) -->
      <div class="text-center d-none d-md-inline">
        <button class="rounded-circle border-0" id="sidebarToggle"></button>
      </div>

    </ul>
    <!-- End of Sidebar -->

    <!-- Content Wrapper -->
   <div id="content-wrapper" class="d-flex flex-column">


    <div class="container-fluid">

      <!-- Page Heading -->
      <div class="d-sm-flex align-items-center justify-content-between mb-4">
        <h1 class="h3 mb-0 text-gray-800">Gestion des utilisateurs</h1>
        <a href="#" class="d-none d-sm-inline-block btn btn-sm btn-primary shadow-sm"><i class="fas fa-download fa-sm text-white-50"></i> Generate Report</a>
      </div>
      <ul>
        <li>ID: {{ user.id }}</li>
        <li>Login: {{ user.login }}</li>
        <li>Password: {{ user.password }}</li>
        <li>Name: {{ user.name }} </li>
        <li>Firstname: {{ user.firstname }}</li>
        <li>Email: {{ user.email }}</li>  
        <li>Code postal: {{ user.zipcode }}</li>      
      </ul> 

      <form method="POST" action="./userDetails">
        <div class="form-group">
          <input type="hidden" name="id" value="{{user.id}}">
        </div>
        <div class="form-group">
          <label for="exampleInputEmail1">Modifier le login</label>
          <input type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp"
            value="{{user.login}}" name="login">
          <small id="emailHelp" class="form-text text-muted">Ne partagez jamais votre Netflop avec des
            inconnus.</small>
        </div>
​
        <div class="form-group">
          <label for="exampleInputPassword1">Modifier le mot de passe de l'utilisateur</label>
          <input type="password" class="form-control" id="exampleInputPassword1" value="{{ user.password }}"
            name="password">
          <small id="emailHelp" class="form-text text-muted">Vous pouvez modifier le mot de passe à votre convenance</small>
        </div>
​
        <div class="form-group">
          <label for="exampleInputPassword1">Modifier le nom de l'utilisateur</label>
          <input type="text" class="form-control" id="exampleCheck1" value="{{user.name}}"
            name="name">
            <small id="emailHelp" class="form-text text-muted">Vous pouvez ici modifier le nom de l'utilisateur</small>
        </div>
​
        <div class="form-group">
          <label for="exampleInputPassword1">Modifier le prenom de l'utilisateur</label>
          <input type="text" class="form-control" id="exampleCheck1" value="{{user.firstname}}"
            name="firstname">
            <small id="emailHelp" class="form-text text-muted">Vous pouvez ici modifier le prenom de l'utilisateur</small>
        </div>
        <div class="form-group">
          <label for="exampleInputPassword1">Modifier le mail de l'utilisateur</label>
          <input type="mail" class="form-control" id="exampleCheck1" value="{{user.email}} "
            name="email">
            <small id="emailHelp" class="form-text text-muted">Vous pouvez ici modifier le mail de l'utilisateur</small>
        </div>
​
        <div class="form-group">
          <label for="exampleInputPassword1">Modifier le code postal de l'utilisateur</label>
          <input type="number" class="form-control" id="exampleCheck1" value="{{user.zipcode}}"
            name="zipcode">
            <small id="emailHelp" class="form-text text-muted">Vous pouvez ici modifier le code postal de l'utilisateur</small>
        </div>
​
​
        <button type="submit" class="btn btn-primary">Submit</button>
      </form>
      

      <!-- Content Row -->
      <div class="row">
      </div>  
    </div>
  </div>      
    <a href="#page-top" class="scroll-to-top rounded">
      <i class="fas fa-angle-up"></i>
    </a>  
  <!-- Bootstrap core JavaScript-->
  <script src="../vendor/jquery/jquery.min.js"></script>
  <script src="../vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

  <!-- Core plugin JavaScript-->
  <script src="../vendor/jquery-easing/jquery.easing.min.js"></script>

  <!-- Custom scripts for all pages-->
  <script src="../js/sb-admin-2.min.js"></script>

  <!-- Page level plugins -->
  <script src="../vendor/chart.js/Chart.min.js"></script>

  <!-- Page level custom scripts -->
  <script src="../js/demo/chart-area-demo.js"></script>
  <script src="../js/demo/chart-pie-demo.js"></script>
{% endblock %}



